<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Golub</title>
</head>

<body>
    <header>
        <h2>Bem-vindo ao</h2>
        <h1>Golub!</h1>
        <div class="links">
            <a href="/noticias">Posts</a>
            <a href="/cadastrar">Criar um Post</a>
        </div>

    </header>
    <main>
        <section class="primeira-sessao">
            <h1>Anúncio Público: O que é o plágio?</h1>
            <div class="primeiro-container">
                <h2>O plágio é a cópia de uma entidade protegida por direitos autorais, parcial ou completa, não autorizada pelo autor.
                O plágio pode vir de vários tamanhos e formas! Fique atento a todas elas!
                </h2>
                <div class="plagio-scrollbox">
                    <div class="caixa-scrollbox">
                        <h2>Plágio direto</h2>
                        <p>Copiar na cara dura, <br>sem alteração nenhuma ao texto.</p>
                    </div>
                    <div class="caixa-scrollbox">
                        <h2>Plágio indireto</h2>
                        <p>Copiar o texto parafraseando-o, ou seja, em outras
                            palavras.</p>
                    </div>
                    <div class="caixa-scrollbox">
                        <h2>Plágio consentido</h2>
                        <p> Foi autorizado a cópia. Normalmente diante incentivo financeiro.</p>
                    <div class="caixa-scrollbox">
                        <h2>Plágio de fontes</h2>
                        <p>Copiar as fontes de outra obra, sem ter consultado-as em primeira mão.</p>
                    </div>
                    <div class="caixa-scrollbox">
                        <h2>Autoplágio</h2>
                        <p>Usar o seu texto, como se fosse novo e inédito.</p>
                    </div>
                </div>
            </div>
                <img src="{{ url_for('static', filename='salafrario.jpg') }}" alt="Image" class="imagem-4">
        </section>

        <section class="primeira-sessao">
            <h1>Consequências do PLÁGIO!</h1>
            <div class="segundo-container">
                
                <p>Olágio pode até ser considerado uma alternativa fácil para notas fáceis ou trabalhos, mas além de correr o risco de ser pego, você ainda mexe com o autor, que acaba sendo descredibilizado. Já teve casos de alunos que foram simplesmente reprovados por plagiar.
                </p>
                <p>Evitar o plágio ainda te favorece, botando esta caixola sua para pensar. Além de dar um apoio ao autor, você não vai correr risco nenhum se usar os devidos créditos para os seus trabalhos. Pensa mais um pouco, você pode ter muitos problemas com dinheiro se pego plagiando. (é um crime)
                </p>
                <img src="{{ url_for('static', filename='salafrario2.jpg') }}" alt="Image" class="imagem-4">
            </div>
        </section>
        <section class="primeira-sessao">
            <h1>PLÁGIO em trabalhos escolares</h1>
            <div class="terceiro-container">
                
                <p>Tem várias maneiras de saber se um aluno está plagiando algo. Pare e pense: Aquele aluno realmente escreve desse jeito? Pode ter algumas discrepancias como o seu nível de vocabulário ou até formalidade presentes, então tome cuidado. Você pode recorrer a ferramentas online que facilitam o processo de identificação de plágio.
                </p>
                <p>Como dito antes sobre os tipos de plágio, uma das mais comuns são: O plágio indireto, O plágio direto
                    e O plágio de Fontes, essas são as formas mais praticadas de plágio, porém uma especialmente
                    utilizada aos anos seguintes dos alunos produzindo seus textos é o autoplágio, que acontece quando o
                    aluno utiliza de informações passadas do próprio texto como se fossem recentes e verídicas.
                </p>
                <img src="{{ url_for('static', filename='teclado.jpeg') }}" alt="Image" class="imagem-4">
            </div>
            </section>

               
            <section class="primeira-sessao">
                 <h1>Como evitar o PLÁGIO?</h1>
                <div class="quarto-container">    
               
                <p>É possível evitar o plágio no trabalho citando os autores oficiais com a citação Direta e Indireta. A citação direta é
                    quando um parágrafo ou um trecho é aberto para citar e credibilizar o autor ou a obra sobre o
                    assunto, geralmente quando o nome do autor é citado se utiliza de “” para impor a frase do mesmo, já
                    a citação indireta é a troca de palavras e mudanças no texto porém com a citação do autor pelas
                    informações adquiridas e apresentadas, lembre-se sempre de colocar todo tipo de crédito não antes
                    dado nas referências bibliográficas, a parte final do texto, ressaltando datas, sites e pessoas,
                    para o máximo de informação possível.
                </p>
                <p>É possível desenvolver um texto original com informações sobre o mesmo e não o copiando, entenda e
                    leia o artigo ou obra pesquisada, assim é possível dominar o assunto e criar o próprio lado dele
                    utilizando suas palavras e opiniões, não é errado utilizar referências no texto mas cópia é
                    estritamente ilegal, o plágio indireto pode acabar acontecendo sem nem que a pessoa perceba, então é
                    nescessário saber ou não quando está se plagiando algo ou utilizando-se como referência, construa
                    uma narrativa cujo utilize o que você sabe, caso precise de uma informação busque por pessoas com a
                    mesma opinião ou contrárias para entender do que se trata.
                </p>
                <img src="{{ url_for('static', filename='nerd.jpeg') }}" alt="Image" class="imagem-4">
            </div>
            </section>
            <section class="primeira-sessao">
                <h1>Ferramentas que detectam PLÁGIO</h1>
            <div class="quinto-container">
                <p><a href="https://moodle.org/plugins/plagiarism_ephorus">Ephorus:</a>É uma ferramenta que detecta
                    plágio em textos de forma gratuita e uma das mais simples
                    de serem usadas, também é uma das mais conhecidas.</p>
                <p><a
                        href="https://www.plagramme.com/?gclid=Cj0KCQjw_5unBhCMARIsACZyzS0b8yJMBdOvp4loZrm9oQrdYgdsiKhFSY_vh6GV0VcTRgsKV-CNPuIaAhfLEALw_wcB">Turnitin:</a>Geralmente
                    dita como a melhor ferramenta de plágio na internet, também é gratuita e
                    capacita alunos a realizarem trabalhos verídicos e oficiais de acordo com eles, ferramenta bem
                    elogiada.
                </p>
                <p>Todos suportam arquivos HTML e são extremamente eficientes, existem outros porém esses podem ser os
                    mais relevantes a se usar.
                </p>
            </div>
            </section>
            <section class="primeira-sessao">
             <h1>Consequências acadêmicas do PLÁGIO</h1>   
            
            <div class="sexto-container">
                
                <p>O plágio pode prejudicar e muito a reputação acadêmica de uma pessoa, visto que existe a possibilidade de um processo sobre os direitos do autor pode ser aberto. Esses casos podem destruir por completo a chance de grandes empresas buscarem lhe
                    contratar, até porque a confiança que a pessoa plagiadora trará será nula, manchar a reputação desse
                    jeito é uma péssima ideia principalmente por questões éticas.
                </p>
                <p>As empresas irão valorizar ideias criativas e inovadoras, tanto por causa da própria inovação e
                    originalidade, quanto pela corrida de marketing das outras empresas rivais, então ter alguém de
                    mente aberta é muito importante para que a empresa ande e não fique estagnada no mesmo lugar, assim
                    dando chance de outras empresas concorrentes abordarem a ideia, é preciso também ter uma boa
                    habilidade de pesquisa, pois é com ela que se evita o plágio, no momento em que você tem alguém de
                    mente aberta que sabe o que pesquisar e como fazer isso, você tem a cabeça perfeita para evitar um
                    possível plágio.
                </p>
                <p>O plágio em ambiente de trabalho traz desconfiança e afeta o vínculo do funcionário com a empresa, um
                    profissional jamais deve cometer tal ato, principalmente porque isso irá cair nas custas da própria
                    empresa, além de que isso afeta a possível inovação e evolução da mesma, o que definitivamente não é
                    uma boa forma de marketing, coisas novas trazem clientes novos, porém abordar algo já feito por
                    outra pessoa, copiando o seu trabalho é algo sujo e ilegal, isso levará a empresa a um lado jurídico
                    que pode prejudicar muito o desempenho da mesma, assim como o seu reconhecimento.
                </p>
            </div>
            </section>

        <iframe class="video" width="480" height="298" src="https://www.youtube.com/embed/UVkQ44K-U78" title="Como evitar o plágio?"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <section class="segunda-sessao">
            <h1>MUNDO DO TRABALHO!</h1>
            <div class="primeiro-container-2">
                
                <p> Ao longo dos anos, as profissões vêm evoluindo cada vez mais devido a modernização, fazendo uma
                    constante mudança principalmente no mundo do trabalho. Como resultado, muitas profissões acabaram
                    sendo extintas, porém, outras acabaram surgindo, pois o mercado de trabalho está se interessando
                    cada vez mais em pessoas especializadas em alguma área da tecnologia.
                </p>
                <img src="{{ url_for('static', filename='GettyImages-1262600344.jpg') }}" alt="Image" class="imagem-4">
            </div>
            </section>
            <section class="segunda-sessao">
                <h1>Profissões do PASSADO:</h1>
            <div class="segundo-container-2">
                <p>As profissões do passado são um pouco diferentes das de que temos hoje, e muitas delas acabaram
                    desaparecendo pela falta de necessidade ou Obsolescência São profissões que necessitavam de trabalho
                    manual, como o despertador humano, que batia de janela em janela para acordar trabalhadores,
                    Telefonista ou caçadores de ratos. (UCEFF, 2020) Hoje, as profissões citadas não existem mais, ou
                    não podem ser relacionadas a outras (com exceção dos caçadores de ratos).</p>
                <p>Grande parte disso é por conta da automatização. Temos ratoeiras e detetizadores, as linhas
                    telefônicas automaticamente nos conectam, com apenas a necessidade de manutenção e agora temos
                    despertadores em nossos telemóveis.</p>
                    <img src="{{ url_for('static', filename='telegrafista.webp') }}" alt="Image" class="imagem-4">
            </div>
            </section>
            <section class="segunda-sessao">
            <h1>Profissões do PRESENTE:</h1>
            <div class="terceiro-container-2">
                
                <p>As profissões da atual sociedade, são diversas e variadas, constantemente sofrendo alterações,
                    pode-se dizer que estamos evoluindo com o tempo, aprendemos e melhoramos conforme os anos passam,
                    cada vez mais profissões deixam de existir ou começam a existir, como por exemplo em diversos
                    supermercados e lojas, não se tem a presença de caixas, o processo foi automatizado com um tempo,
                    diversas coisas que foram substituídas por máquinas, causaram diversos desempregos pelo mundo,
                    pessoas que trabalhavam em caixas de lojas, não possuem mais uma forma de renda, por conta dessa
                    substituição, a escala de desemprego de uns anos para cá, aumentou e muito, porém as profissões hoje
                    em dia são muito distintas.</p>
                <p>O trabalho braçal também tem diminuído bastante apesar de ainda existir, alguém que trabalha em
                    engenharia, se diferencia a quem trabalha em engenharia de software, como alguém que se especializou
                    em engenharia precisa ir até certo local para trabalhar, enquanto alguém que se especializou em
                    engenharia de software sequer precisa sair de sua casa, por mais que sejam nomes semelhantes,
                    definitivamente não é a mesma coisa, porém é possível notar a criação do conceito a base disso,
                    empregos hoje em dia se distinguem muito de si, o mundo do trabalho atualmente possui muitas
                    oportunidades diferentes, e muitas opções de negócio, sejam eles braçais ou intelectuais.</p>
                    <img src="{{ url_for('static', filename='pessoas2.png') }}" alt="Image" class="imagem-4">
            </div>
            </section>
            <section class="segunda-sessao">
                <h1>Profissões do FUTURO:</h1>
            <div class="quarto-container-2">
                
                <p>A constante evolução e desenvolvimento tecnológico geram, dentro da sociedade, novas demandas. Essas
                    demandas, por vez, dão lugar a novos empregos, que se tornam cada vez mais dependentes e, por
                    necessidade, colaborativos com as tecnologias.</p>
                <p> A relação do trabalhador com a tecnologia mudou, junto com o mercado de trabalho. Diante de tantas
                    mudanças sociais e tecnológicas no futuro um bom profissional deve se manter mais atualizado do que
                    nunca dentro de sua área. Como por exemplo um especialista em cibersegurança , ele deve estar ciente
                    de novos sistemas, seus funcionamentos e possíveis falhas.</p>
                <p>O cada vez mais forte impacto da tecnologia no mercado de trabalho, acaba por gerar, dentro da
                    sociedade, diversas mudanças. O individualismo é apontado com um comportamento crescente entre
                    profissões relacionadas com tecnologia.</p>
                    <img src="{{ url_for('static', filename='robo.webp') }}" alt="Image" class="imagem-4">
            </div>
            </section>
            <section class="segunda-sessao">
             <h1>Conclusão</h1>
            <div class="quinto-container-2">
               
                <p> Após diversas pesquisas e análises sobre as profissões do presente, passado e futuro, concluímos que
                    o aumento na flexibilização no trabalho, bem como a evolução da tecnologia, beneficiaram diversas
                    ocupações, proporcionando à criação de novos empregos relacionados ao mercado tecnológico, além de
                    substituir e auxiliar o trabalho braçal. Porém, foi um dos motivos no qual diversas profissões foram
                    extintas ou ainda estão por se extinguir.</p>
            </div>
            </section>
        <iframe class="video" width="371" height="241" src="https://www.youtube.com/embed/Lbk-EDaySmw" title="Os 10 trabalhos com maior potencial de crescimento, segundo o Fórum Econômico Mundial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </main>

    <footer>
        <div class="adms-link">
            <a href="/adms">Sobre o Golub</a>
        </div>
    </footer>
</body>

</html>